* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo > h1 {
  font-size: 24pt;
  margin: 0 10px;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > ul > li {
  list-style: none;
  padding: 50px 35px;
  border-left: 1px solid #ccc;
  cursor: pointer;
  display: block;
}

nav > ul > li:hover {
  background-color: #ee5057;
  color: white;
}

nav > ul > li:active {
  background-color: #ee5057;
  color: white;
}

.burger_icon {
  display: none;
  font-size: 24pt;
  border: 1px solid #ee5057;
  color: #ee5057;
  padding: 5px;
  cursor: pointer;
}

.registeration {
  background-image: url("https://www.tooplate.com/templates/2095_level/img/bg-img-1.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  background-color: white;
  display: inline-block;
  margin: auto;
  padding: 40px 50px;
}

.row1 {
  display: flex;
}
.destination {
  position: relative;
  cursor: pointer;
}
.address {
  padding: 10px 20px 5px 40px;
  font-size: large;
  outline: none;
}

.address:focus {
  border: 1px solid #ee5057;
  border-style: groove;
}
.destination > i {
  position: absolute;
  left: 0;
  margin: 10px;
  color: #ee5057;
  font-size: 17pt;
}
.date_input {
  position: relative;
  cursor: pointer;
}
.checkin {
  padding: 10px 100px 5px 40px;
  font-size: large;
  outline: none;
  margin: 0 10px;
  text-align: center;
}

.checkin:focus {
  border: 1px solid #ee5057;
}

.checkout {
  padding: 10px 100px 5px 40px;
  font-size: large;
  outline: none;
}
.checkout:focus {
  border: 1px solid #ee5057;
}

.date_input > i {
  position: absolute;
  left: 0;
  margin: 10px;
  color: #ee5057;
  font-size: 17pt;
}

.date_input > label {
  position: absolute;
  left: 40px;
  top: 12px;
  color: rgb(156, 156, 156);
  font-weight: lighter;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: block;
  position: absolute;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
}

input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}
input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}

input[type="date"]::placeholder {
  display: block;
}

.row2 {
  display: flex;
  margin-top: 25px;
}
.room_number {
  position: relative;
  cursor: pointer;
}

.room_number > select {
  padding: 10px 100px 10px 50px;
  outline: none;
  margin-right: 10px;
}

.room_number > select:focus {
  border: 1px solid #ee5057;
}

.room_number > i {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  color: #ee5057;
}

.btn {
  padding: 0 23px;
  background-color: #ee5057;
  outline: none;
  border: none;
}
.btn:hover {
  background-color: #98191f;
}
.row3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.row3 > a {
  text-decoration: none;
  color: #ee5057;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px 0;
  background-color: #ee5057;
  color: white;
  border-radius: 0px 0px 96px 96px;
  -webkit-border-radius: 0px 0px 96px 96px;
  -moz-border-radius: 0px 0px 96px 96px;
  text-align: center;
}

.subscribe > h1 {
  font-size: 40pt;
  font-weight: 400;
  letter-spacing: 3px;
}

.subscribe > p {
  margin: 15px 0;
  font-size: 14pt;
  font-weight: 500;
}
.subscribe > button {
  padding: 10px;
  border: 2px solid white;
  border-bottom: none;
  background-color: #ee5057;
  color: white;
  cursor: pointer;
}

.services {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  text-align: center;
  padding: 25px 0;
  margin: 20px;
}
.service:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.service > i {
  font-size: 50pt;
  color: #ee5057;
  margin: 15px;
}
.service > h3 {
  font-size: 18pt;
  color: #ee5057;
}
.service > p {
  color: gray;
  margin: 10px 0;
}

.service > a {
  text-decoration: none;
  color: #ee5057;
}

@media screen and (max-width: 1000px) {
  nav {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav > ul > li {
    display: none;
  }
  .burger_icon {
    display: block;
  }
}
@media screen and (max-width: 1346px) {
  main {
    width: 100%;
    padding: 25px 10px;
  }
  .row1 {
    flex-direction: column;
    margin: 0;
  }
  .address {
    width: 100%;
  }
  .checkin {
    width: 100%;
    margin: 0;
  }
  .checkout {
    width: 100%;
  }

  .date_input {
    margin-top: 20px;
  }
  .row2 {
    flex-direction: column;
    margin: 0;
  }
  .room_number > select {
    width: 100%;
    margin: 0;
  }
  .room_number {
    margin: 10px 0;
  }
  .btn {
    padding: 20px 10px;
  }
}
